:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#container {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(var(--grid-rows), 0fr);
    grid-template-columns: repeat(var(--grid-cols), 0fr);
}

.grid-item {
    padding: 0;
    margin: 0;
    /* text-align: center; */
    background-color: gray;
    width: 50px;
    height: 50px;
}
