#grid-container {
    width: 65vh;
    height: 65vh;
    display: grid;
    grid-template: repeat(16, 1fr) / repeat(16, 1fr);
    justify-content: center;
    margin: 0 auto;
}

.square {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
  }

h1 {
    text-align: center;

}

.btn {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
